body{
    background-color: rgb(47, 18, 23);
    height: 100%;
}

.card {
    text-align: center !important;
    width: 50%;
    margin: auto;
    background-color: #745581;
}

.searchBarDiv{
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    flex-wrap: wrap;
}

.searchBar{
    width: 80%;
}
.Items{
    width: 70%;
    background-color: white;
    border: 1px solid black;
    text-align: left;
    padding-left: 1rem;
    margin: 0%;
    padding-top: 6px;
}

@media only screen and (max-width: 992px) {
    Button {
      margin-top: 5px;
    }
  }
  